# Gradle & Kotlin build directories (anywhere in the project)
build/
.gradle/
.kotlin/
.cxx/
.externalNativeBuild/
/captures/

# Local configuration & Keystore files
local.properties
keystore.properties
keystore/
*.jks
*.keystore

# IDE and OS specific files
.idea/
*.iml
.DS_Store