name: Check Keystore

on:
  workflow_dispatch:

jobs:
  generate-keystore:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Decode and set up signing key
        run: |
          mkdir -p keystore
          echo "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" | base64 --decode > keystore/carlyu.jks
          echo "storeFile=keystore/carlyu.jks" > keystore.properties
          echo "keyAlias=${{ secrets.SIGNING_KEY_ALIAS }}" >> keystore.properties
          echo "keyPassword=${{ secrets.SIGNING_KEY_PASSWORD }}" >> keystore.properties
          echo "storePassword=${{ secrets.SIGNING_STORE_PASSWORD }}" >> keystore.properties

      - name: Verify keystore (password and alias)
        run: |
          keytool -list -v -keystore keystore/carlyu.jks \
            -alias "${{ secrets.SIGNING_KEY_ALIAS }}" \
            -storepass "${{ secrets.SIGNING_STORE_PASSWORD }}" \
            -keypass "${{ secrets.SIGNING_KEY_PASSWORD }}"